In [1]:
%matplotlib inline

import os
from tqdm import tqdm, tqdm_notebook
from tqdm import trange
from scipy import stats

import pandas as pd
import numpy as np
import networkx as nx
import seaborn as sns
import matplotlib.pyplot as plt

import itertools
import warnings
warnings.filterwarnings('ignore')

In [2]:
os.getcwd()

'/home/vcvetkov/Projects/ipred'

In [3]:
df_kmer = pd.read_csv("data/hip_kmer_profiles.txt", sep="\t")
df_kmer.shape

(5698650, 3)

In [4]:
df_kmer.head()

  sample.id cdr3.kmer  count
0  HIP14209       YAA     15
1  HIP14209       YAD     25
2  HIP14209       YAE     20
3  HIP14209       YAF     17
4  HIP14209       YAG    166

In [7]:
sum_count = sum(df_kmer['count'])
sum_count

1891260922

In [8]:
df_kmer['freq'] = df_kmer['count'].apply(lambda x: x / sum_count)
df_kmer.head()

  sample.id cdr3.kmer  count          freq
0  HIP14209       YAA     15  7.931217e-09
1  HIP14209       YAD     25  1.321869e-08
2  HIP14209       YAE     20  1.057496e-08
3  HIP14209       YAF     17  8.988712e-09
4  HIP14209       YAG    166  8.777213e-08

In [9]:
def jsd_count(p, q):
    m = (p + q) / 2
    return 0.5 * np.sum(p * np.log(p / m) + q * np.log(q / m))

In [10]:
from multiprocessing import Pool
from multiprocessing.dummy import Pool as ThreadPool

In [12]:
df_kmer[['cdr3.kmer', 'freq']].head()

  cdr3.kmer          freq
0       YAA  7.931217e-09
1       YAD  1.321869e-08
2       YAE  1.057496e-08
3       YAF  8.988712e-09
4       YAG  8.777213e-08

In [ ]:
def df_jsd_count(df):
    df_kmer['cdr3.kmer'].apply()

In [ ]:
pool = ThreadPool(4) 
results = pool.map(urllib2.urlopen, urls) 
pool.close() 
pool.join()